# Logs
logs
*.log
npm-debug.log*
Backend/error.log
Backend/combined.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node Modules
Frontend/node_modules/
Backend/node_modules/
dist
dist-ssr
*.local
Frontend/text

#Enviroment Variables
Backend/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
